body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
margin-left: 50px;
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}
